:root {
	--clairvoyant_hue: 297deg;
	--clairvoyant_saturation: 84%;
	--clairvoyant_lightness: 10%;
	--clairvoyant_alpha: 100%;

	--clairvoyant_hsla: hsla(
		var(--clairvoyant_hue),
		var(--clairvoyant_saturation),
		var(--clairvoyant_lightness),
		var(--clairvoyant_alpha)
	);
}
