:root {
	--kilamanjaro_alpha: 1;

	--kilamanjaro_hue: 22deg;
	--kilamanjaro_saturation: 85%;
	--kilamanjaro_lightness: 8%;
	--kilamanjaro_HSL:
		var(--kilamanjaro_hue),
		var(--kilamanjaro_saturation),
		var(--kilamanjaro_lightness);
	--kilamanjaro_HSLA: hsla(
		var(--kilamanjaro_HSL),
		var(--kilamanjaro_alpha)
	);

    --kilamanjaro_red: 38;
    --kilamanjaro_green: 16;
    --kilamanjaro_blue: 3;
	--kilamanjaro_RGB: (
		var(--kilamanjaro_red),
		var(--kilamanjaro_green),
		var(--kilamanjaro_blue)
	);
	--kilamanjaro_RGBA: hsla(
		var(--kilamanjaro_RGB),
		var(--kilamanjaro_alpha)
	);

    --kilamanjaro_hex: #261003FF;

	--color-kilamanjaro: var(--kilamanjaro_HSLA);
}
